<turbo-frame id="card-container">
  <div class="card-container">
    <div class="shop-header">
      <div class="shop-name"><%= shop.name %></div>
      <div class="shop-description"><%= shop.description %></div>
      <div class="shop-location"><%= shop.location %></div>
    </div>
    <div class="product-card-list">
      <% products.each do |product| %>
        <div class="product-card">
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "product-image" %>
          <% end %>
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <p>Price: $<%= product.price %></p>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
