<turbo-frame id="card-container">
  <div class="card-container"  data-controller="cart">

      <div class="shop-header">
        <div class="shop-name"><%= shop.name %></div>
        <div class="shop-description"><%= shop.description %></div>
        <div class="shop-location"><%= shop.location %></div>
      </div>

      <div class="product-card-list">
        <% products.each do |product| %>
          <div class="product-card">
            <div class="product-card-header">
              <h4><%= product.name %></h4>
              <h4><%= number_to_currency(product.price) %></h4>
            </div>
            <div class="product-card-image">
              <% if product.image.attached? %>
                <%= image_tag product.image, class: "product-image" %>
              <% end %>
            </div>
            <div class="product-add-to-cart">
              <div class="product-minus">
                <button data-action="click->cart#decreaseQuantity" data-product-id="<%= product.id %>">-</button>
              </div>
              <div class="product-quantity" id="product-quantity-<%= product.id %>">1</div>
              <div class="product-plus">
                <button data-action="click->cart#increaseQuantity" data-product-id="<%= product.id %>">+</button>
              </div>
              <div class="add-to-cart">
                <%= form_with url: cart_items_path, method: :post, local: true do |form| %>
                  <%= hidden_field_tag :product_id, product.id %>
                  <%= hidden_field_tag :quantity, 1, id: "quantity-input-#{product.id}" %>
                  <%= form.submit "ADD", class: "add-to-cart-button" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</turbo-frame>
