<div class="submenu-desktop" data-controller="submenu accordion">
    <div class="submenu-container">
        <%= image_tag("logo_dark_tilt.svg", 
            alt: "Your Logo", 
            class: "logo",
            data: { 
                turbo_frame: "home-content", turbo_action: "advance",
                action: "click->accordion#activateHomePanel" ,
                header_target: "logo",
                dark_path: asset_path("logo_dark_tilt.svg"),
                light_path: asset_path("logo_light_tilt.svg")
            }) %>
        <div class="submenu-list" data-submenu-target="list"></div>

        <div class="submenu-search-shop" data-submenu-target="title">
            <%= link_to "#" do %>
                <%= image_tag("icons/icon_search.svg", 
                    alt: "Search Icon", 
                    class: "icon",
                    data: { 
                        header_target: "searchIcon",
                        dark_path: asset_path("icons/icon_search.svg"),
                        light_path: asset_path("icons/icon_search_light.svg")
                    }
                ) %>
            <% end %>

            <%= link_to "#" do %>
                <%= image_tag("icons/icon_shopping.svg", 
                    alt: "Shopping Icon", 
                    class: "icon",
                    data: { 
                        header_target: "shoppingIcon",
                        dark_path: asset_path("icons/icon_shopping.svg"),
                        light_path: asset_path("icons/icon_shopping_light.svg")
                    }
                ) %>
            <% end %>
        </div>
    </div>
</div>