<div class="form cart">
    <h3>Your Cart</h3>
    <div class="cart-items">
        <% if current_user&.active_cart&.cart_items.present? %>
            <% current_user.active_cart.cart_items.each do |cart_item| %>
                <div class="cart-item" data-controller="cart_item" data-cart_item-id-value="<%= cart_item.id %>">
                    <div class="cart-item-name"><%= cart_item.product.name %></div>
                    <div class="cart-item-action">
                        <div class="col-1">
                            <button type="button" class="btn minus" data-action="click->cart_item#decreaseQuantity">
                                &minus;
                            </button>
                            <input type="number" value="<%= cart_item.quantity %>" min="1" class="quantity-input" readonly>
                            <button type="button" class="btn plus" data-action="click->cart_item#increaseQuantity">
                                &plus;
                            </button>
                        </div>
                        <div class="col-2">
                            <div class="cart-item-price"><%= number_to_currency(cart_item.product.price) %></div>
                        </div>
                        <div class="col-3">
                            <div class="cart-item-delete">
                                <%= button_to cart_item_path(cart_item), method: :delete, class: "btn delete-cart-item" do %>
                                    &times;
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>Your cart is empty.</p>
        <% end %>
    </div>

    <div class="cart-total">
        <div class="box-header">Total</div> 
        <strong><%= number_to_currency(current_user&.active_cart&.total_price || 0) %></strong>
    </div>

    <div class="cart-checkout">
        <div class="box-header">Checkout</div>
        <%= link_to "Checkout", "#", class: "btn btn-checkout" %>
    </div>
</div>