<div class="form cart">
    <div class="cart-items">
        <% if current_user&.active_cart&.cart_items.present? %>
            <% current_user.active_cart.cart_items.each do |cart_item| %>
                <div class="cart-item" data-controller="cart_item" data-cart_item-id-value="<%= cart_item.id %>">
                    <div class="box-topleft">Your Cart</div>
                    <div class="cart-item-name"><%= cart_item.product.name %></div>
                    <div class="cart-item-action">
                        <div class="col-1">
                            <button type="button" class="btn minus" data-action="click->cart_item#decreaseQuantity">
                                &minus;
                            </button>
                            <input type="number" value="<%= cart_item.quantity %>" min="1" class="quantity-input" readonly>
                            <button type="button" class="btn plus" data-action="click->cart_item#increaseQuantity">
                                &plus;
                            </button>
                        </div>
                        <div class="col-2">
                            <div class="cart-item-price"><%= number_to_currency(cart_item.product.price) %></div>
                        </div>
                        <div class="col-3">
                            <div class="cart-item-delete">
                                <%= button_to cart_item_path(cart_item), method: :delete, class: "btn delete-cart-item" do %>
                                    <%= image_tag("icons/icon_delete_black.svg", alt: "Delete Item", class: "icon delete-item") %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>Your cart is empty.</p>
        <% end %>
    </div>

    <div class="cart-total">
        <div class="box-topleft">Total</div>
        <%# <div class="box-bottomleft">Order:</div> %>
        <%= link_to current_user&.active_cart&.delivery_method || "Set Delivery", "#", data: { action: "click->submenu#toggleDeliveryModal", target: "delivery" }, class: "box-bottomright" %>
        <%= number_to_currency(current_user&.active_cart&.total_price || 0) %>
    </div>

    <div class="cart-checkout">
        <% if current_user&.active_cart&.delivery_method.present? %>
            <div class="box-topleft">Checkout</div>
            <%= link_to "Pay", "#", class: "btn checkout" %>
        <% else %>
            <div class="box-topleft">Set Delivery</div>
            <%= link_to "#", data: { action: "click->submenu#toggleDeliveryModal", target: "delivery" }, class: "btn checkout" do %>
                <p>Click & Collect</p>
                <p>or</p>
                <p>Delivery</p>
            <% end  %>
        <% end %>
    </div>

    <div id="modalDelivery" class="modal modalDelivery hidden" data-submenu-target="modalDelivery">
        <div class="modal-body" data-submenu-target="modalBody">
            <!-- Delivery From -->
            <div id="deliveryForm">
                <%= render partial: "shared/form_delivery", locals: { user: User.new } %>
            </div>
        </div>
    </div>
</div>